<%= form_for(@carrier) do |f| %>
    <%= render 'layouts/error_messages', :model => @carrier %>

    <div class="form_class">
      <table>
        <tr>
          <td>
            <%= f.label 'Empresa' %>
          </td>
          <td>
            <%= f.text_field :company %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Ciudad' %>
          </td>
          <td>
            <%= f.text_field :city %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Nombre' %>
          </td>
          <td>
            <%= f.text_field :contact %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Email' %>
          </td>
          <td>
            <%= f.email_field :email %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Teléfono' %>
          </td>
          <td>
            <%= f.text_field :phone %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Dirección' %>
          </td>
          <td>
            <%= f.text_field :address %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Sitio web' %>
          </td>
          <td>
            <%= f.text_field :website %>
          </td>
        </tr>
      </table>
      <br>

      <div class="actions">
        <%= f.submit 'Aceptar' %>
      </div>
    </div>
<% end %>
