<h2>Cambiar contraseña</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put, :class=>'form_class' }) do |f| %>
    <%= devise_error_messages! %>

    <p><%= f.label 'Nombre de usuario' %><br/>
      <%= f.text_field :username, :disabled => true %></p>

    <p><%= f.label 'Contraseña nueva' %> <i>(Dejalo vacio si no deseas cambiar tu contraseña)</i><br/>
      <%= f.password_field :password %></p>

    <p><%= f.label 'Confirmar contraseña' %><br/>
      <%= f.password_field :password_confirmation %></p>

    <p><%= f.label 'Contraseña actual' %> <i>(Necesitamos tu contraseña actual)</i><br/>
      <%= f.password_field :current_password %></p>

    <p><%= f.submit "Actualizar" %></p>
<% end %>

<p><%= link_to "Cancelar mi cuenta", registration_path(resource_name), :confirm => "Estas seguro?", :method => :delete %>
</p>

