<% content_for :secondary_menu do %>
    <%= render 'links' %>
<% end %>


<%= form_for(person) do |f| %>
    <%= render 'layouts/error_messages', :model => person %>

    <div class="form_class">
      <table>
        <tr>
          <td>
            <%= f.label 'Nombre' %>
          </td>
          <td>
            <%= f.text_field :name %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Identificacion *' %>
          </td>
          <td>
            <%= f.text_field :document_id, :autocomplete => :off %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Fecha de nacimiento' %>
          </td>
          <td>
            <%= f.text_field :birthday, :id => 'datepicker' %>
            <script>
                jq(function() {
                    jq("#datepicker").datepicker({
                        dateFormat: 'yy-mm-dd',
                        changeYear: true,
                        yearRange: '1950:2000',
                        changeMonth: true
                    });
                });
            </script>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Genero' %>
            <br/>
          </td>
          <td>
            <%= f.radio_button :gender, 'Hombre', :checked => true %> Hombre
            <%= f.radio_button :gender, 'Mujer' %> Mujer
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Telefono' %>
          </td>
          <td>
            <%= f.text_field :phone %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Celular' %>
          </td>
          <td>
            <%= f.text_field :mobile %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Pin' %>
          </td>
          <td>
            <%= f.text_field :pin %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :email %>
          </td>
          <td>
            <%= f.email_field :email %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Ciudad' %>
          </td>
          <td>
            <%= f.text_field :city %>
          </td>
        </tr>
      </table>
      <br>

      <div class="actions">
        <%= f.submit 'Aceptar' %>
      </div>
    </div>
    <br>
    <i>* Campo requerido</i>
<% end %>

<script type="text/javascript">
    jq('#person_document_id').keyup(function(){
        var el=jq('#person_document_id').val();
        disable(el);
    });

    function disable(el){
        if(el.length == 0)
            jq('#person_submit').attr('disabled',true);
        else
            jq('#person_submit').removeAttr('disabled');
    }
    var el=jq('#person_document_id').val();
    disable(el);
</script>

