<%= link_to 'Nuevo Cliente', new_person_path, :class => 'menu_link' %>

<h1>Lista de clientes</h1>

<table class="dataTablesId">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Fecha de nacimiento</th>
    <th>Cedula</th>
    <th>Genero</th>
    <th>Telefono</th>
    <th>Celular</th>
    <th>Email</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>

  <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.birthday %></td>
        <td><%= person.document_id %></td>
        <td><%= person.gender %></td>
        <td><%= person.phone %></td>
        <td><%= person.mobile %></td>
        <td><%= person.email %></td>
        <td width="110px">
          <%= link_to image_tag('/images/edit.png', :title => 'Modificar informacion'), edit_person_path(person) %>
          <%= link_to image_tag('/images/delete.png', :title => 'Borrar informacion'), person, :confirm => 'El cliente sera borrado. Deseas continuar?', :method => :delete %>
        </td>
      </tr>
      </tbody>
  <% end %>
  </table>
