<% content_for :secondary_menu do %>
<%= render 'links' %>
<% end %>

<h1><%= @title %></h1>
<% if @emails %>
    <button id='copy-button' style="float:right;">Copiar emails</button>
    <script type="text/javascript">
        jq("#copy-button").zclip({
            path: "/javascripts/ZeroClipboard.swf",
            copy: "<%= @emails %>"
        });
    </script>
<% end %>
<table class="dataTablesId">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Fecha de nacimiento</th>
    <th>Identificación</th>
    <th>Genero</th>
    <th>Teléfono</th>
    <th>Celular</th>
    <th>Pin</th>
    <th>Email</th>
    <th>Ciudad</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>

  <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.birthday %></td>
        <td><%= person.document_id %></td>
        <td><%= person.gender %></td>
        <td><%= person.phone %></td>
        <td><%= person.mobile %></td>
        <td><%= person.pin %></td>
        <td><%= person.email %></td>
        <td><%= person.city %></td>
        <td width="110px">
          <%= link_to image_tag('/images/edit.png', :title => 'Modificar informacion'), edit_person_path(person) %>
          <%= link_to image_tag('/images/delete.png', :title => 'Borrar informacion'), person, :confirm => 'El cliente sera borrado. Deseas continuar?', :method => :delete if can? :destroy, Person %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= render 'layouts/datatables_js' %>