<div class="float_left">
  <%= render '/headquarters/index' %>
  <br/><br/>
  <%= render '/brands/index' %>
</div>
<div class="float_left">
  <%= render '/cloth_types/index' %>
  <br/><br/>
  <%= render '/sizes/index' %>
  </div>
<div class="float_left">
    <%= render '/colors/index' %>
  <br/><br/>
  <%= render '/variables/index' %>
</div>

<script type="text/javascript">
    <% hash={'headquarter'=>['Nueva sede',new_headquarter_path],
    'brand'=>['Nueva marca',new_brand_path],
    'cloth_type'=>['Nuevo tipo de prenda',new_cloth_type_path],
    'size'=>['Nueva talla',new_size_path],
    'color'=>['Nuevo color',new_color_path],
    } %>
    <% hash.each do |id, values| %>
    jq('#<%= id %>').click(function() {
        jq('#add_popup').load('<%= values[1] %>', null);
        jq('#add_popup').dialog({
            title: '<%= values[0] %>',
            modal: true,
            resizable: false
        });
    });
    <% end %>
</script>

<div id="add_popup"></div>
<div id="edit_popup"></div>
