<%= form_tag validate_users_path do %>

      <h3>Usuarios no validados</h3>
      <% if !@unvalidated_users.empty? %>
          <table cellspacing="0" cellpadding="0" class="users">
            <th>Nombre de usuario</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Validar</th>
            <th>Eliminar</th>
            <% @unvalidated_users.each do |not_user| %>
                <tr>
                  <td><%= not_user.username %></td>
                  <td><%= not_user.email %></td>
                  <td class='center_td'><%= not_user.type == 'Seller' ? 'Vendedor' : not_user.type %></td>
                  <td class='center_td'><%= check_box_tag "validation[#{not_user.id}]" %></td>
                  <td class='center_td'><%= check_box_tag "destroy[#{not_user.id}]" %></td>
                </tr>
            <% end %>
          </table>
      <% else %>
          <p>No hay usuarios esperando tu validacion!</p>
      <% end %>

      <h3>Usuarios registrados</h3>
      <% if !@validated_users.empty? %>
          <table cellspacing="0" cellpadding="0" class="users">
            <th>Nombre de usuario</th>
            <th>Email</th>
            <th>Ultimo inicio de sesión</th>
            <th>Tipo</th>
            <th>Eliminar</th>
            <% @validated_users.each do |user| %>
                <tr>
                  <td><%= user.username %></td>
                  <td><%= user.email %></td>
                  <td class='center_td'><%= time_ago_in_words user.current_sign_in_at if user.current_sign_in_at %></td>
                  <td class='center_td'><%= user.type == 'Seller' ? 'Vendedor' : user.type %></td>
                  <td class='center_td'><%= check_box_tag "destroy[#{user.id}]" %></td>
                </tr>
            <% end %>
          </table>
      <% else %>
          <p>No hay usuarios registrados en el sistema!</p>
      <% end %>
    <br>
    <%= submit_tag 'Aceptar cambios' %>
<% end %>