<%= form_for(@stock) do |f| %>
    <%= render 'layouts/error_messages', :model => @stock %>

    <table style="margin:auto">
      <tr style="<%= @stock.product_id ? 'display:none' : '' %>">
        <td>
          <%= f.label 'Producto' %>
        </td>
        <td>
          <%= f.text_field :product_id, :size => 10 %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Cantidad' %>
        </td>
        <td>
          <%  @stock.quantity=0 if !@stock.quantity%>
          <%= f.number_field :quantity, :size => 10, :min => 0 ,:max=> params[:max].to_i+@stock.quantity %>
        </td>
      </tr>
      <tr style="<%= @stock.cost ? 'display:none' : '' %>">
        <td>
          <%= f.label 'Costo' %>
        </td>
        <td>
          <%= f.text_field :cost, :size => 10 %>
        </td>
      </tr>
      <tr style="<%= @stock.price ? 'display:none' : '' %>">
        <td>
          <%= f.label 'Precio' %>
        </td>
        <td>
          <%= f.text_field :price, :size => 10 %>
        </td>
      </tr>
      <tr style="<%= @stock.lot_product_id ? 'display:none' : '' %>">
        <td>
          <%= f.label 'Lote producto' %>
        </td>
        <td>
          <%= f.text_field :lot_product_id, :size => 10 %>
        </td>
      </tr>
      <tr id="headquarter_row" style="<%= @stock.headquarter_id ? 'display:none' : '' %>">
        <td>
          <%= f.label 'Sede' %>
        </td>
        <td>
          <%= f.select :headquarter_id, Headquarter.all.collect { |element| [element.name, element.id] },
                       :selected => @stock.headquarter_id ? @stock.headquarter_id : '' %>
        </td>
      </tr>
    </table>
    <br/>
    <div align="center">
      <%= f.submit 'Aceptar' %>
    </div>
<% end %>