<% content_for :secondary_menu do %>
<%= render 'links' %>
<% end %>
<% content_for :head do %>
<%= javascript_include_tag stocks_path %>
<% end %>

<div><h1>Articulos en inventario en <%= @headquarter %></h1>
</div>
<table class="dataTablesId">
  <thead>
  <tr>
    <th>Imagen</th>
    <th>Marca</th>
    <th>Tipo</th>
    <th>Referencia</th>
    <th>Modelo</th>
    <!--<th>Codigo de Barras</th>-->
    <th>Genero</th>
    <th>Talla</th>
    <th>Color</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>

  <% @stocks.each do |stock| %>
      <tr>
        <td><%= image_tag stock.product.image.url :thumb %></td>
        <td><%= stock.product.brand.brand %></td>
        <td><%= stock.product.cloth_type.cloth_type %></td>
        <td><%= stock.product.reference %></td>
        <td><%= stock.product.model %></td>
        <!--<td><%#= stock.product.barcode %></td>-->
        <td><%= stock.product.gender %></td>
        <td><%= stock.product.size.name %></td>
        <td><%= stock.product.color.name %></td>
        <td><%= stock.quantity %></td>
        <td><%= stock.price %></td>

        <td width="140px">
          <% func = "add_to_stock('#{stock.headquarter_id}',"+
          "'#{stock.lot_product_id}',"+
          "'#{stock.lot_product.unassigned_quantity}'"+
          ");return false;" %>
          <%= link_to_function image_tag('update_stock.png', :title => 'Actualizar inventario'),func %>
          <%= link_to image_tag('/images/delete.png', :title => 'Borrar de inventario'), stock, :confirm => 'El articulo sera borrado del inventario. Deseas continuar?', :method => :delete if can? :destroy, Stock %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= render 'layouts/datatables_js' %>
<div id="stock_dialog"></div>