<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @stock.product %>
</p>

<p>
  <b>Quantity:</b>
  <%= @stock.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @stock.price %>
</p>

<p>
  <b>Headquarter:</b>
  <%= @stock.headquarter %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
