<%= form_for(@size) do |f| %>
    <%= render 'layouts/error_messages', :model => @size %>

    <div class="field">
      <%= f.label 'Talla' %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div align="center">
      <%= f.submit 'Aceptar' %>
    </div>
<% end %>
