<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @contact.key %>
</p>

<p>
  <b>Value:</b>
  <%= @contact.value %>
</p>

<p>
  <b>Person:</b>
  <%= @contact.person_id %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
