<p id="notice"><%= notice %></p>

<p>
  <b>Sale:</b>
  <%= @sale_product.sale %>
</p>

<p>
  <b>Product:</b>
  <%= @sale_product.product %>
</p>

<p>
  <b>Quantity:</b>
  <%= @sale_product.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @sale_product.price %>
</p>


<%= link_to 'Edit', edit_sale_product_path(@sale_product) %> |
<%= link_to 'Back', sale_products_path %>
