<%= form_for(@lot_product) do |f| %>
    <% if @lot_product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lot_product.errors.count, "error") %> prohibited this lot_product from being saved:</h2>

          <ul>
            <% @lot_product.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :product %>
      <br/>
      <%= f.text_field :product %>
    </div>
    <div class="field">
      <%= f.label :lot %>
      <br/>
      <%= f.text_field :lot %>
    </div>
    <div class="field">
      <%= f.label :quantity %>
      <br/>
      <%= f.text_field :quantity %>
    </div>
    <div class="field">
      <%= f.label :unit_cost %>
      <br/>
      <%= f.text_field :unit_cost %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
