<h1>Listing lot_products</h1>

<table>
  <tr>
    <th>Lot</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Utility</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lot_products.each do |lot_product| %>
  <tr>
    <td><%= lot_product.lot %></td>
    <td><%= lot_product.product %></td>
    <td><%= lot_product.quantity %></td>
    <td><%= lot_product.cost %></td>
    <td><%= lot_product.utility %></td>
    <td><%= link_to 'Show', lot_product %></td>
    <td><%= link_to 'Edit', edit_lot_product_path(lot_product) %></td>
    <td><%= link_to 'Destroy', lot_product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lot product', new_lot_product_path %>
