<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @lot_product.product %>
</p>

<p>
  <b>Lot:</b>
  <%= @lot_product.lot %>
</p>

<p>
  <b>Quantity:</b>
  <%= @lot_product.quantity %>
</p>

<p>
  <b>Unit cost:</b>
  <%= @lot_product.unit_cost %>
</p>


<%= link_to 'Edit', edit_lot_product_path(@lot_product) %> |
<%= link_to 'Back', lot_products_path %>
