<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @faulty.product %>
</p>

<p>
  <b>Description:</b>
  <%= @faulty.description %>
</p>


<%= link_to 'Edit', edit_faulty_path(@faulty) %> |
<%= link_to 'Back', faulties_path %>
