<%= form_for(@headquarter) do |f| %>
    <%= render 'layouts/error_messages', :model => @headquarter %>

    <div class="field">
      <%= f.label 'Nombre' %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label 'Direccion' %>
      <br/>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label 'Telefono' %>
      <br/>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label 'Decripcion' %>
      <br/>
      <%= f.text_field :description %>
    </div>
    <div align="center">
      <%= f.submit 'Aceptar' %>
    </div>
<% end %>
