<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @headquarter.name %>
</p>

<p>
  <b>Address:</b>
  <%= @headquarter.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @headquarter.phone %>
</p>

<p>
  <b>Description:</b>
  <%= @headquarter.description %>
</p>


<%= link_to 'Edit', edit_headquarter_path(@headquarter) %> |
<%= link_to 'Back', headquarters_path %>
