<%= form_for(@lot) do |f| %>
    <% if @lot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

          <ul>
            <% @lot.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table class="form_class">
      <tr>
        <td>
          <%= f.label 'Fecha de llegada' %>
        </td>
        <td>
          <%= f.text_field :arrival_date, :id => 'datepicker' %>
          <script>
              jq(function() {
                  jq("#datepicker").datepicker({
                      dateFormat: 'yy-mm-dd'
                  });
              });
          </script>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Origen' %>
        </td>
        <td>
          <%= f.text_field :origin %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Peso' %>
        </td>
        <td>
          <%= f.text_field :weight %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Transportador' %>
        </td>
        <td>
          <%= f.text_field :carrier %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Flete' %>
        </td>
        <td>
          <%= f.text_field :freight %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Costo total' %>
        </td>
        <td>
          <%= f.text_field :total_cost %>
        </td>
      </tr>
    </table><br>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
