<td>
  <%= f.text_field :reference %>
</td>
<td>
  <%= f.collection_select :size, [Size.new], :name, :name %>
</td>
<td>
  <%= f.collection_select :color, [Color.new], :name, :name %>
</td>
<td>
  <%= f.text_field :cost, :autocomplete => 'off' %>
</td>
<td>
  <%= f.text_field :cost_cop, :readonly =>true%>
</td>
<td>
  <%= f.number_field :quantity, :autocomplete => 'off', :min => 0 %>
</td>
<td>
  <%= text_field_tag :freight, nil, :readonly =>true  %>
</td>
<td>
  <%= f.text_field :sales_cost, :readonly =>true %>
</td>
<td>
  <%= f.text_field :utility, :autocomplete => 'off' %>
</td>
<td>
  <%= text_field_tag :profit, nil, :readonly =>true %>
</td>
<td>
  <%= f.text_field :price,:readonly=>true %>
</td>
<td>
  <%= link_to_remove_fields image_tag('remove.png', :title => 'Quitar articulo'), f %>
</td>