<h1>Listing lots</h1>

<table>
  <tr>
    <th>Arrival date</th>
    <th>Freight</th>
    <th>Carrier</th>
    <th>Origin</th>
    <th>Weight</th>
    <th>Total cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lots.each do |lot| %>
  <tr>
    <td><%= lot.arrival_date %></td>
    <td><%= lot.freight %></td>
    <td><%= lot.carrier %></td>
    <td><%= lot.origin %></td>
    <td><%= lot.weight %></td>
    <td><%= lot.total_cost %></td>
    <td><%= link_to 'Show', lot %></td>
    <td><%= link_to 'Edit', edit_lot_path(lot) %></td>
    <td><%= link_to 'Destroy', lot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lot', new_lot_path %>
