<% content_for :secondary_menu do %>
    <%= render 'links' %>
<% end %>
<%= javascript_include_tag "jquery.tokeninput" %>

<%= render 'lot_stock_form_js', :iva => Variable.find(1).value %>

<%= javascript_include_tag "#{stock_lots_path @lot}.js" %>

<%= render 'layouts/error_messages', :model => @lot %>

<h1>Agregar a inventario</h1>

<%= form_for @lot do |f| %>
    <h3>Información del lote:</h3>

    <table id="invoice_subtitle">
      <tr>
        <th>Descripción:</th>
        <td class="paddable"><%= @lot.description %></td>
        <th>Fecha de llegada:</th>
        <td><%= @lot.arrival_date %></td>
      </tr>
      <tr>
        <th>Origen:</th>
        <td class="paddable"><%= @lot.origin %></td>
        <th>Transportador:</th>
        <td><%= @lot.carrier %></td>
      </tr>
    </table>
    <br>
    <table id='productsTable'>
      <th style="width:150px">Articulo</th>
      <th>Talla</th>
      <th>Color</th>
      <th>Costo de venta</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Cantidad sin asignar</th>
      <th style="width:120px">Sede</th>
      <th>Inventario</th>
      <%= f.fields_for :lot_products do |b| %>
          <tr class="fields">
            <%= render :partial => 'lot_products_stock', :locals => {:f => b} %>
          </tr>
      <% end %>
    </table>
<% end %>


<div id="stock_dialog">
</div>

<%= link_to 'Finalizar', lots_path %>