<% content_for :secondary_menu do %>
<%= render 'links' %>
<% end %>

<%= form_for(@expense) do |f| %>
    <%= render 'layouts/error_messages', :model => @expense %>
    <div class="form_class">
      <table>
        <tr>
          <td>
            <%= f.label 'Nombre' %>
          </td>
          <td>
            <%= f.text_field :name %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Descripcion' %>
          </td>
          <td>
            <%= f.text_field :description %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Tipo de gasto' %>
          </td>
          <td>
            <%  ExpenseType.all.each do |type| %>
            <%= f.radio_button :expense_type_id, type.id, :checked => true %> <%= type.name.capitalize %>
            <% end  %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Costo' %>
          </td>
          <td>
            <%= f.text_field :cost %>
          </td>
        </tr>
      </table>
      <br>

      <div class="actions">
        <%= f.submit 'Aceptar' %>
      </div>
    </div>
<% end %>
