<%= form_for(@variable) do |f| %>
    <%= render 'layouts/error_messages', :model => @variable %>

    <div class="field">
      <%= f.label 'Nombre' %>
      <br/>
      <%= f.text_field :key %>
    </div>
    <div class="field">
      <%= f.label 'Valor' %>
      <br/>
      <%= f.text_field :value %>
    </div>
    <div align="center">
      <%= f.submit 'Aceptar' %>
    </div>
<% end %>
