<%= javascript_include_tag "jquery.tokeninput" %>

<%= render 'sales_form_js', :iva => Variable.find(1).value %>

<%= javascript_include_tag "nested_fields" %>

<%= form_for(@sale) do |f| %>
    <%= render 'layouts/error_messages', :model => @sale %>

    <%= f.label 'Cliente' %>
    <div style="width:400px">
      <%= f.text_field :person_id %>
      <%= javascript_tag 'autocomplete_client();' %>
    </div>
    <br/>
    <table id='productsTable'>
      <th>Articulo</th>
      <th>Talla</th>
      <th>Color</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>En stock</th>
      <th>Subtotal</th>
      <th>Quitar</th>
      <%= f.fields_for :sale_products do |b| %>
          <tr class="fields">
            <%= render :partial => 'sale_products_fields', :locals => {:f => b} %>
          </tr>
      <% end %>
      <tr id='add_product'>
        <td>
          <%= link_to_add_fields image_tag('add.png', :title => 'Agregar articulo'), f, :sale_products, '#add_product', true %>
        </td>
      </tr>
    </table>

    <div class="float_left">
      <table class="form_class">
        <tr>
          <td>
            <%= f.label 'Descuento (%)' %>
          </td>
          <td>
            <input type="text" size="30px" id='discount_percentage'>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Descuento' %>
          </td>
          <td>
            <%= f.text_field :discount %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Razon del descuento' %>
          </td>
          <td>
            <%= f.text_field :discount_reason %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'IVA' %>
          </td>
          <td>
            <%= f.text_field :iva %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label 'Total' %>
          </td>
          <td>
            <%= f.text_field :total %>
          </td>
        </tr>
      </table>
      <br/>

      <div class="actions">
        <%= f.submit 'Aceptar' %>
      </div>
    </div>

    <div class="float_left form_class">
      <%= f.label 'Separado?' %>
      <%= f.check_box :separated %>

      <div>
        <table>
        <tr>
          <th>Abono</th>
          <th>Fecha</th>
        </tr>

        <%= f.fields_for :separates do |sf| %>
            <tr>
              <%= render :partial => 'separates_fields', :locals => {:f => sf} %>
            </tr>
        <% end %>
        <tr id='add_payment'>
          <td><%= link_to_add_fields 'Abonar', f, :separates, '#add_payment' %></td>
        </tr>
      </table>
      <br/>
      <%= label_tag 'Saldo ' %>
      <%= text_field_tag 'balance' %>
      <%= button_to_function 'Calcular', 'set_balance()' %>
      </div>
    </div>
<% end %>