<%= form_for(@sale) do |f| %>
    <% if @sale.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

          <ul>
            <% @sale.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table class="form_class">
      <% if !current_user.headquarter_id %>
      <tr>
        <td>
          <%= f.label 'Sede' %>
        </td>
        <td>
          <%= f.select :headquarter, Headquarter.all.collect {|element| [element.name,element.id] } %>
        </td>
      </tr>
      <%end %>
      <tr>
        <td>
          <%= f.label 'Cedula' %>
        </td>
        <td>
          <%= f.autocomplete_field :person_id, autocomplete_person_document_id_sales_path, :value => @client %>
        </td>
      </tr>



        <% f.fields_for :sale_products do |b| %>
          <tr class="fields">
          <%= render 'sale_products_fields', :f => b  %>
          </tr>
        <% end %>
      <tr>
        <td>
        <%= link_to_add_fields image_tag('add.png',:title => 'Agregar articulo'), f, :sale_products %>
        </td>
      </tr>


      <tr>
        <td>
          <%= f.label 'Descuento' %>
        </td>
        <td>
          <%= f.text_field :discount %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Razon del descuento' %>
        </td>
        <td>
          <%= f.text_field :discount_reason %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Iva' %>
        </td>
        <td>
          <%= f.text_field :iva %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Total' %>
        </td>
        <td>
          <%= f.text_field :total %>
        </td>
      </tr>
    </table>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
