<%= stylesheet_link_tag "token-input-facebook" %>
<%= javascript_include_tag "jquery.tokeninput", "autocomplete" %>

<%= form_for(@sale) do |f| %>
    <% if @sale.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

          <ul>
            <% @sale.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table class="form_class">
      <tr>
        <td>
          <%= f.label 'Cedula' %>
        </td>
        <td>
          <%= f.text_field :person_id %>
          <%= javascript_tag 'autocomplete_client();' %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Descuento' %>
        </td>
        <td>
          <%= f.text_field :discount %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Razon del descuento' %>
        </td>
        <td>
          <%= f.text_field :discount_reason %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Iva' %>
        </td>
        <td>
          <%= f.text_field :iva %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label 'Total' %>
        </td>
        <td>
          <%= f.text_field :total %>
        </td>
      </tr>
    </table>

    <table>
      <th>Articulo</th>
      <th>Talla</th>
      <th>Color</th>
      <th>Precio unitario</th>
      <th>Cantidad</th>
      <th>En stock</th>
      <th>Subtotal</th>
      <th></th>
      <% f.fields_for :sale_products do |b| %>
          <tr class="fields">
            <%= render :partial => 'sale_products_fields', :locals => {:f => b } %>
          </tr>
          <% @i = @i + 1 %>
      <% end %>

      <tr id='add_product'>
        <td>
          <%= link_to_add_fields image_tag('add.png', :title => 'Agregar articulo'), f, :sale_products %>
        </td>
      </tr>
    </table>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

