<td>
  <%= f.text_field :reference %>
</td>
<td>
  <%= f.collection_select :size, [Size.new], :size, :size %>
</td>
<td>
  <%= f.collection_select :color, [Color.new], :color, :color %>
</td>
<td>
  <%= f.text_field :price, :autocomplete => 'off', :size => '15' %>
</td>
<td>
  <%= f.text_field :quantity, :autocomplete => 'off',  :size => '15' %>
</td>
<td>
  <%= f.label :in_stock %>
</td>
<td>
  <%= f.label :subtotal %>
</td>
<td>
  <%= link_to_remove_fields image_tag('remove.png',:title => 'Quitar articulo'),f %>
</td>

