<td>
  <%= f.label 'Articulo' %>
  <%= f.collection_select :product_id, Product.all, :id, :reference %>
</td>
<td>
  <%= f.label 'Cantidad' %>
  <%= f.text_field :quantity %>
</td>
<td>
  <%= f.label 'Precio unitario' %>
  <%= f.text_field :price %>
</td>
<td>
  <%= link_to_remove_fields image_tag('delete.png',:title => 'Quitar articulo'),f %>
</td>
