<td>
  <%= f.text_field :reference %>
</td>
<td>
  <%= f.collection_select :size, [Size.new], :name, :name %>
</td>
<td>
  <%= f.collection_select :color, [Color.new], :name, :name %>
</td>
<td>
  <%= f.hidden_field :stock_id %>
  <%= hidden_field_tag :price_index %>
  <%= f.collection_select :price, [Color.new], :name, :name %>
</td>
<td>
  <%= f.number_field :quantity, :autocomplete => 'off', :size => '14', :min => 1 %>
</td>
<td>
  <%= f.label :in_stock %>
</td>
<td>
  <%= f.label :subtotal %>
</td>
<td>
  <%= link_to_remove_fields image_tag('remove.png', :title => 'Quitar articulo'), f %>
</td>

