<% content_for :secondary_menu do %>
<%= render 'links' %>
<% end %>

<h1>Lista de ventas en <%= params[:headquarter] %></h1>
<table class="dataTablesId">
  <thead>
  <tr>
    <th>Cliente</th>
    <th>Fecha</th>
    <th>Descuento</th>
    <th>Iva</th>
    <th>Total</th>
    <th>Estado</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>

  <% @sales.each do |sale| %>
      <tr>
        <td><%= "#{sale.person.name}, #{sale.person.document_id}" unless !sale.person %></td>
        <td><%= sale.updated_at %></td>
        <td><%= sale.discount %></td>
        <td><%= sale.iva %></td>
        <td><%= sale.total %></td>
        <td><%= sale.separated ? 'Separado' : 'Vendido' %></td>
        <td width="100px">
          <%= link_to image_tag('/images/view.png', :title => 'Ver venta'), sale_path(sale.id) %>
          <%= link_to image_tag('/images/edit.png', :title => 'Modificar venta'), edit_sale_path(sale) %>
          <%= link_to image_tag('/images/delete.png', :title => 'Borrar venta'), sale, :confirm => 'La venta sera borrada. Deseas continuar?', :method => :delete %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= render 'layouts/datatables_js' %>