<% content_for :secondary_menu do %>
<%= render 'links' %>
<% end %>
<%= javascript_include_tag 'nested_fields' %>
<h1>Lista de ventas en <%= params[:headquarter] %></h1>
<table class="dataTablesId">
  <thead>
  <tr>
    <th>Cliente</th>
    <th>Fecha</th>
    <th>Descuento</th>
    <th>Iva</th>
    <th>Total</th>
    <th>Saldo</th>
    <th>Estado</th>
    <th>Vendedor</th>
    <th>Opciones</th>
  </tr>
  </thead>
  <tbody>

  <% @sales.each do |sale| %>
      <tr>
        <td><%= "#{sale.person.name}, #{sale.person.document_id}" unless !sale.person %></td>
        <td><%= sale.updated_at %></td>
        <td><%= sale.discount %></td>
        <td><%= sale.iva %></td>
        <td><%= sale.total %></td>
        <td><%= sale.balance %></td>
        <td><%= sale.separated ? 'Separado' : 'Vendido' %></td>
        <td><%= sale.seller.username if sale.seller%></td>
        <td width="100px">
          <%= link_to image_tag('/images/view.png', :title => 'Ver venta'), sale_path(sale.id) %>
          <%= link_to image_tag('/images/edit.png', :title => 'Modificar venta'), edit_sale_path(sale) if can? :update,sale%>
          <%= link_to_function image_tag('/images/edit.png', :title => 'Abonar a venta'), "open_dialog(#{sale.id});" if cannot? :update,sale%>
          <%= link_to image_tag('/images/delete.png', :title => 'Borrar venta'), sale, :confirm => 'La venta sera borrada. Deseas continuar?', :method => :delete if can? :destroy,Sale%>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div id="payment_popup"></div>
<%= render 'open_dialog' %>
<%= render 'layouts/datatables_js' %>