<div id="invoice">
  <div id="invoice_title" align="center">
    <h2>PERFORMANCE STORE</h2>

    <p>
      Nit. 1061689636-4 <br/>
      <%= @sale.headquarter.address if @sale.headquarter.address %><br/>
      <%= ('Teléfono: ' + @sale.headquarter.phone) if @sale.headquarter.phone %>
    </p>
  </div>
  <div id="aligner">
  <table id="invoice_subtitle">
    <tr>
      <th>Sede:</th>
      <td class="paddable"><%= @sale.headquarter.name %></td>
      <th>Fecha:</th>
      <td><%= @sale.created_at.to_s(:db) %></td>
    </tr>
    <% if !@client.blank? %>
        <tr>
          <th>Cliente:</th>
          <td class="paddable"><%= @client.split(',')[0].strip %></td>
          <th>Identificación:</th>
          <td><%= @client.split(',')[1].strip %></td>
        </tr>
    <% end %>
  </table>

  <table id='productsTable' class="borden">
    <thead>
    <th>Marca</th>
    <th>Referencia</th>
    <th>Modelo</th>
    <th>Talla</th>
    <th>Color</th>
    <th>Cantidad</th>
    <th>Precio</th>
    </thead>
    <tbody>
    <% for sale_product in @sale.sale_products %>
        <tr>
          <td><%= sale_product.product.brand.brand %></td>
          <td><%= sale_product.product.reference %></td>
          <td><%= sale_product.product.model %></td>
          <td><%= sale_product.product.size.size %></td>
          <td><%= sale_product.product.color.color %></td>
          <td><%= sale_product.quantity %></td>
          <td><%= number_to_currency sale_product.price, :precision => 0 %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br/>
  <table>
    <% if @sale.discount != 0 %>
    <tr>
      <td><b>Descuento: </b></td>
      <td><%= number_to_currency @sale.discount, :precision => 0 %></td>
    </tr>
    <% end %>
    <% if @sale.iva != 0 %>
    <tr>
      <td><b>IVA: </b></td>
      <td><%= number_to_currency @sale.iva, :precision => 0 %></td>
    </tr>
    <% end %>
    <tr>
      <td><b>Total: </b></td>
      <td><%= number_to_currency @sale.total, :precision => 0 %></td>
    </tr>
  </table>
    </div>
</div>
<%= content_for :head, stylesheet_tag('print', :media => 'print') %>