<p>
  <b>Client:</b>
  <%= @client %>
</p>

<b>Articulos:</b>
<% for sale_product in @sale.sale_products%>
<p>

  ref <%= sale_product.product.reference %>
  q <%= sale_product.quantity %>
  p <%= sale_product.price %>
</p>
<% end %>


<p>
  <b>Discount:</b>
  <%= @sale.discount %>
</p>

<p>
  <b>Discount reason:</b>
  <%= @sale.discount_reason %>
</p>

<p>
  <b>Date:</b>
  <%= @sale.created_at %>
</p>

<p>
  <b>Iva:</b>
  <%= @sale.iva %>
</p>

<p>
  <b>Total:</b>
  <%= @sale.total %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
