<p>
  <b>Fecha:</b>
  <%= @sale.created_at %>
</p>

<p>
  <b>Sede:</b>
  <%= @sale.headquarter.name %>
</p>
<p>
  <b>Cliente:</b>
  <%= @client %>
</p>
<p>
<table id='productsTable'>
  <thead>
  <th>Marca</th>
  <th>Referencia</th>
  <th>Modelo</th>
  <th>Talla</th>
  <th>Color</th>
  <th>Cantidad</th>
  <th>Precio</th>
  </thead>
  <tbody>
  <% for sale_product in @sale.sale_products %>
      <tr>
        <td><%= sale_product.product.brand.brand %></td>
        <td><%= sale_product.product.reference %></td>
        <td><%= sale_product.product.model %></td>
        <td><%= sale_product.product.size.size %></td>
        <td><%= sale_product.product.color.color %></td>
        <td><%= sale_product.quantity %></td>
        <td><%= sale_product.price %></td>
      </tr>
  <% end %>
  </tbody>
</table>
  <p>
    <b>Descuento:</b>
    <%= @sale.discount %>
  </p>

  <p>
    <b>Razon del descuento</b>
    <%= @sale.discount_reason %>
  </p>

  <p>
    <b>IVA:</b>
    <%= @sale.iva %>
  </p>

  <p>
    <b>Total:</b>
    <%= @sale.total %>
  </p>