<%= javascript_include_tag 'jsapi' %>
<%= render 'reports/chart', :chart => @chart %>
<%= stylesheet_link_tag reports_path+'.css' %>
<h1>Generar reporte</h1>
<%= form_tag reports_path do %>

    <div class='float_left'>
      <p>
        <%= label_tag 'Fecha inicial' %>
        <%= text_field_tag :start_date, '', :class=>'date_picker' %>
        <%= label_tag 'Fecha final' %>
        <%= text_field_tag :end_date, '', :class=>'date_picker' %>
        <%= submit_tag 'Generar' %>
      </p>

      <% if @chart %>
      <p>
      <div align="center" class="report_title">
        <h3><%= 'Reporte desde ' + @chart[0][0] +' hasta ' + @chart.last[0] %></h3>
      </div>
      <div id="chart_div"></div>
      </p>
          <% end %>
    </div>

    <div class='float_left'>
      <table>
        <tr><h2>Estado de resultados</h2></tr>
        <tr>
          <td><b>Ventas:</b></td>
          <td> <%= number_to_currency @sales, :precision =>0 %></td>
        </tr>
        <tr class="bottom_line">
          <td><b>- Costo de ventas:</b></td>
          <td> <%= number_to_currency @sales_cost, :precision =>0 %></td>
        </tr>
        <tr>
          <td><b>Utilidad bruta:</b></td>
          <td>  <%= number_to_currency @gross_profit, :precision =>0 %></td>
        </tr>
        <tr class="bottom_line">
          <td><b>- Gastos:</b></td>
          <td><%= number_to_currency @expenses, :precision =>0 %></td>
        </tr>
        <tr>
          <td><b>Utilidad AI:</b></td>
          <td> <%= number_to_currency @before_taxes_reserve_profit, :precision =>0 %></td>
        </tr>
        <tr>
          <td><b>- Impuestos:</b></td>
          <td> <%= number_to_currency @taxes, :precision =>0 %></td>

        </tr>
        <tr class="bottom_line">
          <td><b>- Reserva:</b></td>
          <td><%= number_to_currency @reserve, :precision =>0 %></td>

        </tr>
        <tr>
          <td><b>Utilidad neta:</b></td>
          <td><%= number_to_currency @net_profit, :precision =>0 %></td>
        </tr>
      </table>
    </div>
<% end %>