<!DOCTYPE html>
<html>
<head>
  <title>Performance Store</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'rails', 'jquery-ui-1.8.14.custom.min', 'jquery.dataTables.min', 'colorpicker', 'jquery.zclip.min' %>
  <%= csrf_meta_tag %>
</head>
<body>
<script type="text/javascript">
    var jq = jQuery.noConflict();
</script>
<div class="container">

  <div class='header'>
    <table id="header_table">
      <tr>
        <td>
          <h1>&emsp;Performance Store</h1>
        </td>
        <td id="session_name">
          <% if user_signed_in? %>
              Hola <%= link_to current_user.username, edit_user_registration_path %>!
              <%= link_to "Cerrar Sesion", destroy_user_session_path %>&emsp;
          <% end %>
        </td>
      </tr>
    </table>


    <% if user_signed_in? %>
        <div class='principal-menu'>
          <ul>
            <li id="sell_tab"><%= link_to 'Ventas', sales_path, :style => is_active?("sales") %></li>
            <li id="client_tab"><%= link_to 'Clientes', people_path, :style => is_active?("people") %></li>
            <li id="stock_tab"><%= link_to 'Inventario', products_path, :style => is_active?('stocks', 'products') %></li>
            <li id="lot_tab"><%= link_to 'Lotes', lots_path, :style => is_active?('lots') %></li>
            <li id="expense_tab"><%= link_to 'Gastos', expenses_path, :style => is_active?('expenses') if can? :manage, Expense %></li>
            <li id="report_tab"><%= link_to 'Reportes', reports_path, :style => is_active?('reports') if can? :manage, Report %></li>
            <li id="admin_tab"><%= link_to 'Admin', admin_index_path, :style => is_active?('admin') if can? :manage, Admin %></li>
          </ul>
        </div>
    <% end %>

    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </div>
  <div class='content'>
    <%= yield %>
    <script type="text/javascript">
        jq(document).ready(function() {
            jq('table[class="dataTablesId"]').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "sScrollY": document.height * 0.48 + "px",
                "sDom": '<"H"<"search-table"f>lr>t<"F"<"showing"i><"pagination"p>>S',
                "aLengthMenu": [
                    [5, 10, 25, 50, -1],
                    [5, 10, 25, 50, "Todos"]
                ]
            });
            jq('.notice').fadeOut(10000);
            try {
                local_ready();
            } catch(exc) {
            }
        });
    </script>
  </div>
  <div class='footer'>
    &emsp;© 2011 CodeScrum
  </div>
</div>
</body>
</html>
