<!DOCTYPE html>
<html>
<head>
  <title>Performance Store</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag 'colorpicker','jquery-ui-1.8.13.custom','scaffold','token-input','wjsport' %>
=======
  <%= stylesheet_link_tag 'colorpicker', 'jquery-ui-1.8.13.custom', 'scaffold', 'token-input', 'wjsport' %>
>>>>>>> development
  <%= javascript_include_tag 'jquery', 'rails', 'jquery-ui-1.8.14.custom.min', 'jquery.dataTables.min', 'colorpicker', 'jquery.zclip.min' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
      var jq = jQuery.noConflict();
      jq(document).ready(function() {
          jq('.notice').fadeOut(10000);
          try {
              local_ready();
          } catch(exc) {
          }
      });
  </script>
  <%= yield :head %>
</head>
<body>

<div class="container">

  <header>
    <table id="header_table">
      <tr>
        <td>
          <h1>PERFORMANCE STORE</h1>
        </td>
        <td id="session_name">
          <% if user_signed_in? %>
              Hola <%= link_to current_user.username, edit_user_registration_path, :id => 'username' %>!
              <%= link_to "Cerrar Sesión", destroy_user_session_path, :id => 'sign_out' %>
          <% end %>
        </td>
      </tr>
    </table>
    <nav id='principal-menu'>
      <%= render 'layouts/menu' %>
    </nav>
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </header>
  <section>
    <%= yield %>
  </section>
  <footer>
    <label for="us">© 2011 CodeScrum</label>
  </footer>
</div>
</body>
</html>
