<!DOCTYPE html>
<html>
<head>
  <title>Performance Store</title>
  <%= stylesheet_link_tag 'colorpicker', 'jquery-ui-1.8.13.custom', 'scaffold', 'token-input', 'wjsport' %>
  <%= javascript_include_tag 'jquery', 'rails', 'jquery-ui-1.8.14.custom.min', 'jquery.dataTables.min', 'colorpicker', 'jquery.zclip.min' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
      var jq = jQuery.noConflict();
      jq(document).ready(function() {
          jq('.notice').fadeOut(10000);
          try {
              local_ready();
          } catch(exc) {
          }
      });
  </script>
  <%= yield :head %>
</head>
<body>
  <header>
    <h1 id="header_title">PERFORMANCE STORE</h1>
    <div id="session_name">
      <% if user_signed_in? %>
          Hola <%= link_to current_user.username, edit_user_registration_path, :id => 'username' %>
          has iniciado en la sede <%= Headquarter.find(current_user.headquarter_id).name %>&emsp;|
          <%= link_to "Cerrar Sesión", destroy_user_session_path, :id => 'sign_out' %>
      <% end %>
    </div>
  </header>

  <nav id='principal_menu'>
    <%= render 'layouts/menu' %>
  </nav>

  <nav id="secondary_menu">
    <%= yield :secondary_menu %>
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </nav>

  <section>
    <%= yield %>
  </section>

  <footer>
    <label for="us">© 2011 CodeScrum</label>
  </footer>
</body>
</html>