<!DOCTYPE html>
<html>
<head>
  <title>Performance Store</title>
  <%= stylesheet_link_tag 'colorpicker','jquery-ui-1.8.13.custom','scaffold','token-input','wjsport' %>
  <%= javascript_include_tag 'jquery', 'rails', 'jquery-ui-1.8.14.custom.min', 'jquery.dataTables.min', 'colorpicker', 'jquery.zclip.min' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
      var jq = jQuery.noConflict();
      jq(document).ready(function() {
          jq('.notice').fadeOut(10000);
          try {
              local_ready();
          } catch(exc) {
          }
      });
  </script>
  <%= yield :head %>
</head>
<body>

<div class="container">

  <div class='header'>
    <table id="header_table">
      <tr>
        <td>
          <h1>&emsp;PERFORMANCE STORE</h1>
        </td>
        <td id="session_name">
          <% if user_signed_in? %>
              Hola <%= link_to current_user.username, edit_user_registration_path %>!
              <%= link_to "Cerrar Sesión", destroy_user_session_path %>&emsp;
          <% end %>
        </td>
      </tr>
    </table>

    <%= render 'layouts/menu' %>

    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </div>
  <div class='content'>
    <%= yield %>
  </div>
  <footer>
    <label for="us">© 2011 CodeScrum</label>
  </footer>
</div>
</body>
</html>
