<%= form_for(@cloth_type) do |f| %>
    <%= render 'layouts/error_messages', :model => @cloth_type %>

    <div class="field">
      <%= f.label 'Tipo de prenda' %>
      <br/>
      <%= f.text_field :cloth_type %>
    </div>
    <div align="center">
      <%= f.submit 'Aceptar' %>
    </div>
<% end %>
